*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: url('../aset/foto/cursor.png'), auto;

}

a {
    cursor: url('../aset/foto/cursor2.png'), pointer;
}

/* font */
@font-face {
    font-family: "Pokemon";
    src: url(../aset/font/Pokemon.ttf);
}

/* body */
body {

    background-image: url(../aset/foto/cuy.png);
    font-family: "Pokemon";
    display: flex;
    flex-direction: column;
    margin: 0;


}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* navbar */

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background-color: #FCCD2A;
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: top 0.3s ease-in-out;
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out;
    -ms-transition: top 0.3s ease-in-out;
    -o-transition: top 0.3s ease-in-out;
}

.container {
    display: flex;
    text-align: center;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;

}

.navbar-hidden {
    top: -100px;
}

.nav-img {
    width: 67px;
    height: 100%;
    animation: boxshadowRotate 3s infinite;
    border: 1.5px solid #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: boxshadowRotate 3s infinite;
}

.text-nav p {
    font-size: xx-large;
    font-family: "Pokemon";
    letter-spacing: 6px;
    animation: shadowRotate 3s infinite;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    color: #fff;

}

.a-navbar {
    letter-spacing: 3px;
    font-size: larger;
    font-family: "Pokemon";
    -webkit-text-stroke: 1px black;
    animation: shadowRotate 6s infinite;
    -webkit-animation: shadowRotate 6s infinite;
}


/* layout */

/* content */
.content-container {
    flex: 1;
    max-width: 850px;
    margin: auto;
    padding: 20px;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.content-cuk {
    flex: 1;
    max-width: 850px;
    margin: auto;
    padding: 20px;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

.content {
    animation: borderColorMoveF 4s infinite;
    -webkit-animation: borderColorMoveF 4s infinite;
    max-width: 850px;
    margin: auto;
    padding: 20px;
    height: 100%;
    text-align: center;
    align-items: center;
    margin-top: 8em;
    background-color: rgb(255, 255, 255);
}

.anime-h1 {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 3em;
    padding-top: 20px;
    letter-spacing: 6px;
    font-family: "Pokemon", sans-serif;
    font-size: xx-large;
    color: #000000;
    /* -webkit-text-stroke: 2px white;*/
}

.anime {
    animation: borderColorMoveFc 6s infinite;
    -webkit-animation: borderColorMoveFc 6s infinite;
    border: 1px solid #ffffff;
    /* background-color: rgb(157, 208, 212);*/
    background-color: #000;
    display: block;
    width: 100%;
    justify-content: center;
    margin: auto;
    padding-top: 2em;
    align-items: center;
}

/* .animes{
    animation: borderColorMoveFc 6s infinite;
    -webkit-animation: borderColorMoveFc 6s infinite;
} */
.anime-img {
    width: 50%;
    margin: auto;
}

.anime-judul a {
    text-transform: capitalize;
    font-size: x-large;
    color: #fff;
    letter-spacing: 4px;
    /* -webkit-text-stroke: 2px black;*/
}

.anime-judul a:hover {
    color: #77207a;
    -webkit-text-stroke: 2px rgb(141, 213, 17);
}

.anime-text {
    padding: 20px;
    text-align: justify;
    letter-spacing: 4px;
    /* font-size: large; */
    /* -webkit-text-stroke: 1px black;*/
    color: #fff;
}

.hrcuy {
    animation: boxshadowRotate 3s infinite;
    border: 1.5px solid #000;
}

/* end content */

/* sidebar */
.sidebar-container {
    /*border: 2px solid #000;

    */
    padding-left: 16px;
    letter-spacing: 2px;
    position: fixed;
    display: block;
    margin-top: 8em;
    height: 100%;
    width: 16%;
    background-color: #fffffe;
    animation: boxshadowRotateside 3s infinite;
    border: 1px solid #000000;
    -webkit-animation: boxshadowRotateside 3s infinite;
}

.judul-side {
    font-size: x-large;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    color: #0f0e17;
    letter-spacing: 2.5px;
    /* -webkit-text-stroke: 1px rgb(255, 255, 255);*/
}

.text-side a {
    text-transform: capitalize;
    display: block;
    color: #0f0e17;
    /*  -webkit-text-stroke: 1px yellow;*/
}

.text-side a:hover {
    color: #77207a;
    -webkit-text-stroke: 1px rgb(136, 151, 0);
}

/* .star {
    animation: boxshadowRotatecuy 3s infinite;
    -webkit-animation: boxshadowRotatecuy 3s infinite;
} */

/* end sidebar */

/* footer */
.footer-container {
    letter-spacing: 3px;
    border: 1px solid #000;
    max-width: 850px;
    margin: auto;
    width: 100%;
    height: 270px;
    background-color: #0f0e17;
    /*Matchfootercolortonavbar*/
    color: #a7a9be;
    padding: auto;
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: block;
    animation: borderColorMoveFc 4s infinite;
    -webkit-animation: borderColorMoveFc 4s infinite;
}

.footer-item {

    display: flex;
    text-align: center;
    padding-bottom: 48px;

}

.footer-item .judul-footers {
    flex: 1;
    text-align: center;

}



.judul-footers {
    text-align: center;
    width: 100%;
}

.judul-footer {
    font-size: larger;
    margin: auto;
}

.footer-text {

    color: #ff8906;
    font-size: large;
}

.footer-text:hover {
    -webkit-text-stroke: 1px rgb(247, 247, 247);
    color: #ff9244;
}

.icon-footer {
    color: #ff8906;
}

.icon-footer:hover {
    -webkit-text-stroke: 1px rgb(247, 247, 247);
    color: #ff9244;
}

.cpoy {

    font-size: smaller;
    color: red;
    text-align: absolute
}

/* end footer */

/* end pembungkus */

/* animasi */

/* 1. text navbar */
@keyframes shadowRotate {
    0% {
        text-shadow:
            2px 2px 5px rgb(0, 0, 0),
            -2px -2px 5px rgb(43, 43, 43),
            2px -2px 5px rgb(74, 73, 73),
            -2px 2px 5px rgb(96, 96, 95);
    }

    25% {
        text-shadow:
            2px 2px 5px rgb(96, 96, 95),
            -2px -2px 5px rgb(0, 0, 0),
            2px -2px 5px rgb(43, 43, 43),
            -2px 2px 5px rgb(74, 73, 73);
    }

    50% {
        text-shadow:
            2px 2px 5px rgb(74, 73, 73),
            -2px -2px 5px rgb(96, 96, 95),
            2px -2px 5px rgb(0, 0, 0),
            -2px 2px 5px rgb(43, 43, 43);
    }

    75% {
        text-shadow:
            2px 2px 5px rgb(43, 43, 43),
            -2px -2px 5px rgb(74, 73, 73),
            2px -2px 5px rgb(96, 96, 95),
            -2px 2px 5px rgb(0, 0, 0);
    }

    100% {
        text-shadow:
            2px 2px 5px rgb(0, 0, 0),
            -2px -2px 5px rgb(43, 43, 43),
            2px -2px 5px rgb(74, 73, 73),
            -2px 2px 5px rgb(96, 96, 95);
    }
}

/* 2. box rotate */
@keyframes boxshadowRotate {
    0% {
        box-shadow:
            2px 2px 5px rgb(0, 0, 0),
            -2px -2px 5px rgb(43, 43, 43),
            2px -2px 5px rgb(74, 73, 73),
            -2px 2px 5px rgb(96, 96, 95);
    }

    25% {
        box-shadow:
            2px 2px 5px rgb(96, 96, 95),
            -2px -2px 5px rgb(0, 0, 0),
            2px -2px 5px rgb(43, 43, 43),
            -2px 2px 5px rgb(74, 73, 73);
    }

    50% {
        box-shadow:
            2px 2px 5px rgb(74, 73, 73),
            -2px -2px 5px rgb(96, 96, 95),
            2px -2px 5px rgb(0, 0, 0),
            -2px 2px 5px rgb(43, 43, 43);
    }

    75% {
        box-shadow:
            2px 2px 5px rgb(43, 43, 43),
            -2px -2px 5px rgb(74, 73, 73),
            2px -2px 5px rgb(96, 96, 95),
            -2px 2px 5px rgb(0, 0, 0);
    }

    100% {
        box-shadow:
            2px 2px 5px rgb(0, 0, 0),
            -2px -2px 5px rgb(43, 43, 43),
            2px -2px 5px rgb(74, 73, 73),
            -2px 2px 5px rgb(96, 96, 95);
    }
}

@keyframes boxshadowRotatesidecuy {
    0% {
        filter: drop-shadow(2px 2px 5px rgb(239, 251, 67), -2px -2px 5px rgb(151, 202, 206), 2px -2px 5px rgb(106, 140, 143), -2px 2px 5px rgb(72, 101, 104));
        -webkit-filter: drop-shadow(2px 2px 5px rgb(239, 251, 67), -2px -2px 5px rgb(151, 202, 206), 2px -2px 5px rgb(106, 140, 143), -2px 2px 5px rgb(72, 101, 104));
    }

    25% {
        filter: drop-shadow(2px 2px 5px rgb(72, 101, 104), -2px -2px 5px rgb(239, 251, 67), 2px -2px 5px rgb(151, 202, 206), -2px 2px 5px rgb(106, 140, 143));
        -webkit-filter: drop-shadow(2px 2px 5px rgb(72, 101, 104), -2px -2px 5px rgb(239, 251, 67), 2px -2px 5px rgb(151, 202, 206), -2px 2px 5px rgb(106, 140, 143));
    }

    50% {
        filter: drop-shadow(2px 2px 5px rgb(106, 140, 143), -2px -2px 5px rgb(72, 101, 104), 2px -2px 5px rgb(239, 251, 67), -2px 2px 5px rgb(151, 202, 206));
        -webkit-filter: drop-shadow(2px 2px 5px rgb(106, 140, 143), -2px -2px 5px rgb(72, 101, 104), 2px -2px 5px rgb(239, 251, 67), -2px 2px 5px rgb(151, 202, 206));
    }

    75% {
        filter: drop-shadow(2px 2px 5px rgb(151, 202, 206), -2px -2px 5px rgb(106, 140, 143), 2px -2px 5px rgb(255, 124, 233), -2px 2px 5px rgb(239, 251, 67));
        -webkit-filter: drop-shadow() 2px 2px 5px rgb(151, 202, 206), -2px -2px 5px rgb(106, 140, 143), 2px -2px 5px rgb(255, 124, 233), -2px 2px 5px rgb(239, 251, 67);
    }

    100% {
        filter: drop-shadow(2px 2px 5px rgb(239, 251, 67),                -2px -2px 5px rgb(151, 202, 206),                2px -2px 5px rgb(106, 140, 143),                -2px 2px 5px rgb(72, 101, 104));
        -webkit-filter: drop-shadow(2px 2px 5px rgb(239, 251, 67),                -2px -2px 5px rgb(151, 202, 206),                2px -2px 5px rgb(106, 140, 143),                -2px 2px 5px rgb(72, 101, 104));
}
}

@keyframes boxshadowRotateside {
    0% {
        box-shadow:
            2px 2px 5px rgb(239, 251, 67),
            -2px -2px 5px rgb(151, 202, 206),
            2px -2px 5px rgb(106, 140, 143),
            -2px 2px 5px rgb(72, 101, 104);
    }

    25% {
        box-shadow:
            2px 2px 5px rgb(72, 101, 104),
            -2px -2px 5px rgb(239, 251, 67),
            2px -2px 5px rgb(151, 202, 206),
            -2px 2px 5px rgb(106, 140, 143);
    }

    50% {
        box-shadow:
            2px 2px 5px rgb(106, 140, 143),
            -2px -2px 5px rgb(72, 101, 104),
            2px -2px 5px rgb(239, 251, 67),
            -2px 2px 5px rgb(151, 202, 206);
    }

    75% {
        box-shadow:
            2px 2px 5px rgb(151, 202, 206),
            -2px -2px 5px rgb(106, 140, 143),
            2px -2px 5px rgb(255, 124, 233),
            -2px 2px 5px rgb(239, 251, 67);
    }

    100% {
        box-shadow:
            2px 2px 5px rgb(239, 251, 67),
            -2px -2px 5px rgb(151, 202, 206),
            2px -2px 5px rgb(106, 140, 143),
            -2px 2px 5px rgb(72, 101, 104);
    }
}

/* 3. Shadow run */
@keyframes shadowMove {
    0% {
        box-shadow: -5px 0px 10px gray;
    }

    50% {
        box-shadow: 5px 0px 10px black;
    }

    100% {
        box-shadow: -5px 0px 10px gray;
    }
}

@keyframes shadowMovedd {
    0% {
        box-shadow: -5px 0px 10px rgb(246, 255, 0);
    }

    50% {
        box-shadow: 5px 0px 10px rgb(255, 234, 0);
    }

    100% {
        box-shadow: -5px 0px 10px rgb(255, 166, 0);
    }
}

/* 4. Border run */
@keyframes borderColorMove {
    0% {
        border-bottom: 3px solid gray;
    }

    50% {
        border-bottom: 3px solid black;
    }

    100% {
        border-bottom: 3px solid gray;
    }
}

@keyframes borderColorMoveF {
    0% {
        border: 3px solid gray;
    }

    50% {
        border: 3px solid black;
    }

    100% {
        border: 3px solid gray;
    }
}

@keyframes borderColorMoveFc {
    0% {
        border: 2px solid gray;
    }

    50% {
        border: 2px solid black;
    }

    100% {
        border: 2px solid gray;
    }


}


/* Menerapkan animasi border-bottom */
.nav-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: gray;
    animation: borderColorMove 7s infinite;
    -webkit-animation: borderColorMove 7s infinite;
}

/* end animasi */

/* Scroll bar */
/* Mengatur scrollbar */
/* Mengatur scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Track scrollbar (latar belakang scrollbar) */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

/* Thumb (batang scrollbar yang digulir) */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Animasi transisi untuk thumb */
}

/* Efek hover pada thumb scrollbar */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    transform: scale(1.2);
    /* Thumb membesar saat hover */
}

/* Efek animasi pada thumb untuk perubahan warna */
@keyframes thumbColorChange {
    0% {
        background-color: #888;
    }

    50% {
        background-color: #4CAF50;
    }

    100% {
        background-color: #888;
    }
}

/* Mengaplikasikan animasi pada thumb */
::-webkit-scrollbar-thumb {
    animation: thumbColorChange 3s infinite ease-in-out;
    /* Animasi warna thumb */
}

/* end scrollbar */

/* Kompatibel perangkat */
@media screen and (max-width: 1920px) {

    .overlay,
    .sidebar {
        visibility: hidden;
    }
/* 
    .judul-side {
        font-size: large;
    } */

    .text-side a {
        font-size: large;
    }

    .anime-text {
        font-size: large;
    }

    .content {
        max-width: 1000px;
    }

    .footer-container {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1366px) {

    .overlay,
    .sidebar {
        visibility: hidden;
    }

    .judul-side {
        font-size: large;
    }

    .text-side a {
        font-size: large;
    }

    .anime-text {
        font-size: large;
    }


}

@media screen and (max-width: 1570px) {

    .overlay,
    .sidebar {
        visibility: hidden;
    }

    .judul-side {
        font-size: x-large;
    }

    .text-side a {
        font-size: large;
    }

    .anime-text {
        font-size: large;
    }


}

@media screen and (max-width: 1180px) {

    .overlay,
    .sidebar {
        visibility: hidden;
    }

    .judul-side {
        font-size: large;
    }



}

@media screen and (max-width: 895px) {

    .overlay,
    .sidebar {
        visibility: hidden;
    }

    .judul-side {
        font-size: medium;
    }

    .text-side a {
        font-size: small;
    }

    .anime-text {
        font-size: large;
    }

    .content-container {
        max-width: 550px;
    }

}

@media screen and (max-width: 768px) {

    .content-container {
        max-width: 550px;
    }

    .anime-text {
        font-size: medium;
    }

    .content-cuk {
        max-width: 550;
    }

    .judul-side {
        font-size: medium;
    }

    .content {
        max-width: 550px;
    }

    /* side */
    .sidebar-container {
        width: 17%;
        /* font-size: px; */
    }

    .judul-side {
        font-size: small;
    }

    .text-side a {
        font-size: small;
        padding-top: 4px;
        /* border: 1px solid #000; */
    }

    /* footer */
    .footer-container {
        max-width: 550px;
    }

    .judul-footer {
        font-size: medium;
    }

    .footer-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 419px) {

    .overlay,
    .sidebar {
        visibility: unset;
    }

    .nav-img {
        width: 500px;
        padding: 0;

    }

    .anime-text {
        font-size: medium;
    }

}

@media screen and (max-width: 480px) {

    .overlay,
    .sidebar {
        visibility: unset;
    }

    /* navbar */
    .nav-container {
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        margin: 0 auto;
        padding: auto;
        text-align: center;
    }

    .navbar-menu .a-navbar {
        visibility: hidden;
    }

    .anime-text {
        font-size: medium;
    }

    .container {
        text-align: center;
        /* border: 1px solid #000; */
        justify-content: center;
        margin: 0 auto;
        padding: 0 auto;
        display: flex;


    }

    .nav-img {

        width: 225px;
        height: 50px;
        animation: boxshadowRotate 3s infinite;
        border: 1.5px solid #000;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        /* border: 1px solid #000; */
    }

    .text-nav {
        /* border: 1px solid #000; */
        text-align: center;
        margin-left: 90px;
    }

    .navbar-menu {
        /* border: 1px solid #000; */
        margin-top: 25px;
        width: 100%;
    }

    .navbar-hidden {
        top: -200px;
    }

    /* side */
    .sidebar-container {
        visibility: hidden;
    }
}

/* humberger */
.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #333;
    position: fixed;
    top: 0;
    left: -250px;
    /* Posisi awal tersembunyi di kiri */
    transition: 0.3s ease;
    padding-top: 60px;
}

/* Styling untuk menu sidebar */
.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #333;
    position: fixed;
    top: 0;
    margin-top: 10px;
    border: 1px solid #000;
    left: -250px;
    /* Posisi awal tersembunyi di kiri */
    transition: 0.3s ease;
    padding-top: 60px;
}

/* Styling untuk link di sidebar */
.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #333;
    position: fixed;
    /* border: 1px solid #000; */
    margin-top: 10px;
    top: 0;
    left: -250px;
    /* Posisi awal tersembunyi di kiri */
    transition: 0.3s ease;
    padding-top: 60px;
    z-index: 2;
    /* Menambah z-index agar berada di atas overlay */
}

/* Styling untuk link di sidebar */
.sidebar a {
    margin-top: 10px;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

/* Tombol hamburger */
.hamburger {
    font-size: 30px;
    cursor: pointer;
    margin: 20px;
    z-index: 3;
    /* Memastikan tombol ini berada di atas overlay */
    position: relative;
}

/* Jika sidebar terbuka */
.sidebar.active {
    left: 0;
}

/* Overlay untuk menutup sidebar */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    border: 1px solid #fff;
    z-index: 1;
}

/* Jika overlay aktif */
.overlay.active {
    display: block;
}